ul { 
  margin: -0.3em 0!important; 
}



#content-wrapper {
  width: 90%;
  }

#main-navigation a {
  margin-left: -10px;
}
.blog-collection {
  margin-left: 6px;
}
.page-collection {
   margin-left: 8px;
}
.folder-toggle-label {
}
img#banner{
  margin-top: 8px;
}



/*///// Plugins /////////////////////////////////*/
/* Accordian Menu */
.faqElement {
    padding: 2em 0;
    border-bottom: 1px solid #EDEEEE;
    position: relative;
  }
  .faqElement:after {
    font-family: 'squarespace-ui-font';
    -webkit-font-smoothing: antialiased;
    content: "\e02d";
    position: absolute;
    top: 2em;
    right: 1em;
    font-size: 1em;
    font-weight: bold;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    cursor: pointer;
  }
  .flipButton:after {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  .faqQuestion {
    cursor: pointer;
    margin: 0;
    padding-right: 2em;
  }
  .faqAnswer {
    margin: 0;
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    transition: all .25s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    padding-right: 2em;
  }
  .activeFaqAnswer {
    margin-top: 1.5em;
  }

/* END Accordian Menu */
/* Custom colour Social icons */
.sqs-use--icon {
    fill: #badd05 !important;
}
.sqs-svg-icon--wrapper:hover {
  .sqs-use--icon {
    fill: #444 !important;
}
}

/* back to the top button */
.sp-back-to-top.visible {
opacity: 0.85;
}
.sp-back-to-top {
opacity: 0;
background-color: #badd05;
border-color: #badd05;
border-style: solid;
border-width: 3px;
margin: 0 auto;
position: fixed;
height: 50px;
  width: 50px;
bottom: 0px;
right: 0px;
z-index: 99999;
cursor: pointer;
transition: all ease-in-out 150ms !important;
 -webkit-transition: all ease-in-out 150ms !important;
 -moz-transition: all ease-in-out 150ms !important;
 -ms-transition: all ease-in-out 150ms !important;
}

.sp-back-to-top:hover {
opacity: 1;
}

.sp-back-to-top:active {
opacity:0.8;
}

.sp-back-to-top-arrow-container {
padding: 0px;
}

.sp-back-to-top-arrow {
  position: absolute;
  top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
width: 35px;
height: 35px;
background: url('https://static1.squarespace.com/static/5660870ce4b07de43e2d27fd/t/56d4d5802b8ddea29eb38477/1456788864385/bttarrow.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

/* END Back to the top button */


/* Image slider text   
  #collection-58f7f0c7bebafb04841abddb {
.meta {
  background: none !important;
  max-width: 70% !important;
}
.meta-title {
  text-align: center;
  font-size: 22px;
  letter-spacing: 0px;
  font-weight: 600;
  text-shadow: 0px 0px 0px rgba(80, 80, 80, 1);
}
.meta-description p {
  font-size: 22px;
  letter-spacing: 0px;
  font-weight: 400;
}
*/	  
/* Image slider text  Media Queries 
@media only screen and (max-width: 500px) {
 .sqs-gallery-controls {
    display: none!important;
  }
  .sqs-block-gallery .sqs-gallery-block-slideshow { 
max-height: 500px !important;
  .sqs-gallery-design-stacked-slide {
  max-height: auto !important;
  overflow: hidden;
  
}
.meta-inside{
  padding: 5px;
}
.meta {
  display: inline-block!important;
  max-width: 90% !important;
}
.meta-title {
  display: inline-block!important;
  font-size: 11px;
  letter-spacing: 0px;
  font-weight: 600;
}
.meta-description p {
  display: inline-block!important;
  font-size: 8px;
  letter-spacing: 0px;
  font-weight: 400;
}
}
}
 END Image slider text Media Queries */

  

/* END Image slider text   */

/* Gallery Gallery logo greyscale hover 

.sqs-gallery-block-grid {
.sqs-gallery-design-grid-slide {
  max-height: 160px !important;
}
.slide .margin-wrapper a.image-slide-anchor {
  padding-bottom: 160px !important;
}
img {
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    filter: grayscale(1);
   transition: all ease-in-out 600ms !important;
}
}
.sqs-gallery-block-grid .slide:hover {
  img {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    filter: grayscale(0);
  }
}
END Gallery logo greyscale hover */

/*///// END Plugins /////////////////////////////////*/







/*///// Font override /////////////////////////////////*/
/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=19858ad6-6f67-44b9-b90e-a269767f46f5");
    @font-face{
        font-family:"Foundry Form Sans W01 Bk";
        src:url("Fonts/f47350d4-406f-43ce-9e55-11f9180dc806.eot?#iefix");
        src:url("Fonts/f47350d4-406f-43ce-9e55-11f9180dc806.eot?#iefix") format("eot"),url("Fonts/4f8e8cca-1895-42fb-aa0b-f53cc3612c42.woff2") format("woff2"),url("Fonts/1ee3b807-d078-44ab-8dae-165810404a68.woff") format("woff"),url("https://static1.squarespace.com/static/58ee9c022e69cf7898e9fe77/t/590281462e69cf0a6428fda5/1493336390966/9830fc3f-8ae8-4a40-86b8-fcab056a4919.ttf") format("truetype"),url("Fonts/2eefacac-475f-4162-9a23-ee40b6047b6c.svg#2eefacac-475f-4162-9a23-ee40b6047b6c") format("svg");
    }
    @font-face{
        font-family:"Foundry Form Sans W01 Bd";
        src:url("Fonts/a86bae9b-065d-46de-822c-9613bd92367e.eot?#iefix");
        src:url("Fonts/a86bae9b-065d-46de-822c-9613bd92367e.eot?#iefix") format("eot"),url("Fonts/0e9f2e33-d1e3-419f-a74e-0e6afb183ccd.woff2") format("woff2"),url("Fonts/4ebaf353-a246-47fc-a369-453645faae94.woff") format("woff"),url("https://static1.squarespace.com/static/58ee9c022e69cf7898e9fe77/t/59028140440243e24176700d/1493336385330/6f689eb3-17ca-41ea-931d-8da7efd81fba.ttf") format("truetype"),url("Fonts/fbe17440-c525-4622-959c-035ec0e96bd1.svg#fbe17440-c525-4622-959c-035ec0e96bd1") format("svg");
    }
.sqs-slash-page-header {
  font-family:"Foundry Form Sans W01 Bk"!important;
}
#page-title {
  font-family:"Foundry Form Sans W01 Bk"!important;
}
#page-footer p, page-footer ul, page-footer ol {
  font-family:"Foundry Form Sans W01 Bk"!important;
}
h1#page-title {
  color: #ffffff!important;
    font-size: 45px!important;
    letter-spacing: 0em!important;
  font-family:"Foundry Form Sans W01 Bk"!important;
  }
h1 { font-family:"Foundry Form Sans W01 Bk"!important; }
h2 { font-family:"Foundry Form Sans W01 Bk"!important;}
h3 { font-family:"Foundry Form Sans W01 Bd"!important;}
body p { font-family:"Foundry Form Sans W01 Bk"!important;}
#page-footer p, #page-footer ul, #page-footer ol {}
h7 { font-family:"Foundry Form Sans W01 Bk"!important;}
#tagline { font-family:"Foundry Form Sans W01 Bk"!important;}
#page-header nav ul a, #page-header nav ul .delimiter { font-family:"Foundry Form Sans W01 Bk"!important;}
.site-subtitle, .page-description p, .logo-subtitle { font-family:"Foundry Form Sans W01 Bk"!important;}    
blockquote, blockquote p, .quote-block blockquote {
  font-family:"Foundry Form Sans W01 Bk"!important;
}
h7 { font-family:"Foundry Form Sans W01 Bk"!important;}
.entry-title { font-family:"Foundry Form Sans W01 Bk"!important;}

 .entry-title {
   font-family:"Foundry Form Sans W01 Bk"!important;
 }  

/* Tablet Media queries */
@media only screen and (max-width: 768px) {
  body p {
 font-size: 16px; 
}
 #page-header nav ul a, #page-header nav ul .delimiter {
   font-size: 12px;
} 
 h1#page-title {
  text-align: left;
 font-family:"Foundry Form Sans W01 Bk"!important;
   margin-left: 30px!important;
     letter-spacing: 0px!important;

}
  
}
/* END Tablet Media queries */
/* Mobile Media queries */
@media only screen and (max-width: 480px) {
  body p {
 font-size: 14px; 
    font-family:"Foundry Form Sans W01 Bk"!important;
}
 
       h1 { font-size: 24px !important;  
         font-family:"Foundry Form Sans W01 Bk"!important; }
       h2 { font-size: 19px !important;  
         font-family:"Foundry Form Sans W01 Bk"!important; }
       h3 { font-size: 16px !important; 
        font-family:"Foundry Form Sans W01 Bd"!important; }
h1#page-title {
  text-align: left;
  font-family:"Foundry Form Sans W01 Bk"!important;
  font-size: 24px !important;
  margin-left: 10px!important;
  letter-spacing: 0px!important;
}
}

/* END Mobile Media queries */

/*///// END Font override /////////////////////////////////*/








/*///// HEADER /////////////////////////////////*/
#main-navigation {
  margin: 0px 0px -5px 0px;
}

 #mobile-navigation ul li .folder-toggle-label a {
   padding-left: 0.5em;
   display: inline-block;
 }
/*position of tag line*/
#tagline{
  /*background: #c3d437;*/
  color: #badd05;
  /*font-weight: bold;*/
  font-size: 22px;
  text-align: right;
  padding: 0px!important;
  /*margin: -30px -320px 0px 0px;*/
  vertical-align: middle;
    display: inline-block;
}

 /*END position of tag line*/
 #sqs-social {
     padding: 0px!important;
margin: 0px 0px 0px 0px!important; 
}
 
.horizontal-navigation-bar {
  height: auto;
  padding: 20px 20px 40px 0px;
 }

/* Sub navigation styling */
.horizontal-navigation-bar nav.main-nav .folder .subnav ul {
    background-color: rgba(68, 68, 68, 0.6);
    border: 0px solid;
    padding: 5px 0;
    display: block;
}
/* END Sub navigation styling */

/* Mobile Sub navigation styling */
#mobile-navigation ul li .folder-toggle-box:checked + .folder-toggle-label ~ a {
    height: auto;
    max-height: 15px;
    padding: .5em 0;
    border-top-width: 0px;
    background-color: #c3d437;
}



/* END Mobile Sub navigation styling */

/*///// END HEADER /////////////////////////////////*/


/*///// BODY /////////////////////////////////*/


/* Image block padding */
.sqs-block.image-block {
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 10px;
   padding-right: 10px;
 }
/* END Image block padding */
/* Image roll over effect 
img {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

img:hover {
      opacity: 0.5;
      }*/

a:link img.thumb-image:hover {
  opacity: 0.3!important;
}
/* END Image roll over effect */







div#page-body-header 
{
  display:none;
}
#page-body-wrapper {
    padding-top: 20px;
    padding-bottom: 30px
}



/*//// Sidebar //////*/
#sidebar-one-blocks {padding-top: 0px;}
h7 {
  font-size: 22px;
  line-height: 90%;
}
#sidebar-one .horizontalrule-block { 
      margin-top: -25px; 
      margin-bottom: -25px; 
      } 
/*//// END Sidebar //////*/

/*//// END Body /////////////////////////////////*/





/*///// FOOTER /////////////////////////////////*/
row sqs-row {
  width: 60%!important;
}
.sqs-svg-icon--wrapper {
    margin-right: 10px!important;
}

.GreenText {
  color: #bad305;
  font-weight: bold;
}
#marker{
 padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
}
#page-footer  { 
   p, a:link, a:visited {
     color: #ffffff;
     padding: 0px!important;
     margin: -20px 0px 0px 0px;
     }
  a:hover {
    color: #badd05 !important;
  }
 }


#page-footer.sqs-block {
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 20px;
   padding-right: 0px;
 }

 #page-footer-wrapper { 
   background: #828287; 
   
 }
   

/*//// END Footer /////////////////////////////////*/





/*//// Media queries /////////////////////////////////*/
@media only screen and (max-width: 1000px) {
   /* Add your custom styles here for Tablet */
   .horizontal-navigation-bar {
         display: none;
     }
 #mobile-navigation-label {
    float: left; 
}
     #mobile-navigation {
display: block;
     }
  #mobile-navigation-title {
margin-left: -73px;  }
  .banner-content-empty #mobile-navigation-title, .banner-content-page-title-description #mobile-navigation-title { content: url("https://static1.squarespace.com/static/58ee9c022e69cf7898e9fe77/t/59028e7f414fb57c49bf54e0/1493339776080/Lodestar_Logo_tagline.png"); width: 140px; }
}

@media only screen and (max-width: 480px) {
   /* Add your custom styles here for Tablet */
   .horizontal-navigation-bar {
         display: none;
     }
 #mobile-navigation-label {
    float: right;
}
     #mobile-navigation {
display: block;
     }
  #mobile-navigation-title {
   margin-left: 0px;
  }
  .banner-content-empty #mobile-navigation-title, .banner-content-page-title-description #mobile-navigation-title { content: url("https://static1.squarespace.com/static/58ee9c022e69cf7898e9fe77/t/59028e7f414fb57c49bf54e0/1493339776080/Lodestar_Logo_tagline.png"); width: 140px; }
}

/* Tablet*/
@media only screen and (max-width: 780px) {
   #sidebar-one{
  display: none;
}
}

@media only screen and (max-width: 640px) {
  
 .banner-content-empty #mobile-navigation-title, .banner-content-page-title-description #mobile-navigation-title { content: url("https://static1.squarespace.com/static/58ee9c022e69cf7898e9fe77/t/59028e7f414fb57c49bf54e0/1493339776080/Lodestar_Logo_tagline.png"); width:220px; } 
   #page-footer { 
  text-align: left!important;
   margin: 0 auto;
 }
 #sidebar-one{
  display: none;
}
  
.horizontal-navigation-bar {
  height:50px;
  padding: 20px 20px 60px 0px;
 }

  #sqs-social {
margin: -36px 0px 0px 0px!important; 
}
  #tagline{
  /*background: #c3d437;*/
  color: #badd05;
  /*font-weight: bold;*/
  text-align: right;
  padding: 0px;
  margin: -8px 0px 0px 0px!important;
    font-size: 14px!important;
}
    #marker{
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
}
#page-footer  { 
   p, a:link, a:visited {
     color: #ffffff;
     padding: 10px 0px 0px 0px!important;
     margin: -30px 0px 0px 0px!important;
     
     }
   .sqs-svg-icon--wrapper.twitter {
    margin-right:10px !important;
}
.sqs-svg-icon--wrapper.linkedin {
    margin-right:10px!important;
} 
  
a:hover {
    color: #badd05!important;
  }
}
  
}
/* END TABLET */


/* Mobile Logo */
@media only screen and (max-width: 480px) { 
 .banner-content-empty #mobile-navigation-title, .banner-content-page-title-description #mobile-navigation-title { content: url("https://static1.squarespace.com/static/58ee9c022e69cf7898e9fe77/t/59028e7f414fb57c49bf54e0/1493339776080/Lodestar_Logo_tagline.png"); width:220px; } 
 
 #sidebar-one{
  display: none;
}

 .sqs-svg-icon--wrapper.twitter {
    margin-right:10px !important;
}
.sqs-svg-icon--wrapper.linkedin {
    margin-right:10px!important;
}  


  #page-footer { 
  text-align: left!important;
   margin: 0 auto;
 }

  #marker{
padding: 0px 0px 0px 0px;
margin: -50px 0px 0px 0px;
}
#page-footer  { 
   p, a:link, a:visited {
     color: #ffffff;
     padding: 10px 0px 0px 0px!important;
     margin: -30px 0px 0px 0px!important;
     }
   a:hover {
    color: #badd05;
  }
 }

}
 
 /* END Mobile Logo */


/*//// END Media queries /////////////////////////////////*/